<article class="movie">
	<div class="movie-content">
		<p class="movie-title">
			<a href="/movie/{{id}}">{{title}}</a>
		</p>
		<p class="movie-director">
			{{director}}
		</p>
		<p class="movie-comment">
			"{{comment}}"
		</p>
		<p class="movie-plus-minus">
			{{plusminus}}
		</p>
	</div>
</article>
