<article class="movieDes">
	<div class="movie-content-des">
		<div class="titlePlus">
			<p class="movie-title">
				<a href="/movie/{{id}}">{{title}}</a>
			</p>
		</div>
		<p class="movie-director">
			{{director}}
		</p>
		<p class="summary">
			{{summary}}
		</p>
		<p class="movie-comment">
			"{{comment}}"
		</p>
		<p class="movie-plus-minus">
			{{plusminus}}
		</p>
	</div>
</article>
